{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}

<div class="images">
  <figure><img id="cat1" alt="Cute Cat"></figure>
  <figure><img id="cat2" alt="Cute Cat"></figure>
  <figure><img id="cat3" alt="Cute Cat"></figure>
  <figure><img id="cat4" alt="Cute Cat"></figure>
  <figure><img id="cat5" alt="Cute Cat"></figure>
  <figure><img id="cat6" alt="Cute Cat"></figure>
  <figure><img id="cat7" alt="Cute Cat"></figure>
  <figure><img id="cat8" alt="Cute Cat"></figure>
  <figure><img id="cat9" alt="Cute Cat"></figure>
  <figure><img id="cat10" alt="Cute Cat"></figure>
  <figure><img id="cat11" alt="Cute Cat"></figure>
  <figure><img id="cat12" alt="Cute Cat"></figure>
</div>


<button type="button" class="butn" id="random" name="button">Random Cat Picture</button>


{% endblock %}
