
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/

img {
  width: 100px;
  height: 100px;
  margin-top: 80px;
}

.container {
  text-align: center;
}
